<div class="container-products">
 <p id="notification"></p>  
    <%= form_for @invoice, local: true do |f| %>

        <div class="row title-products">
            <div class="col-md-6">
                <h2>NUEVA FACTURA</h2>
            </div>  
        </div>
       
        <% if @invoice.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

            <ul>
            <% invoice.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
            </div>
        <% end %>
    
        <div class="row">
            <div class="col-md-6 field">
                <%= f.label :Prefijo %>
                <%= f.text_field :prefix, class: 'disabled'%>
            </div>

            <div class="col-md-6 field">
                <%= f.label :Número_de_factura %>
                <%= f.number_field :invoice_number %>
            </div>
        </div>
       
        <div class="clients-dropdown">
            <%= f.label :Cliente %>
            <%= f.text_field :client_id, data: {autocomplete_source: Client.order(:name).map(&:name)}, id: 'invoice_client_name' %>
        </div> 

        <div class="row">
            <div class="col-md-12 table-responsive">
                <hr>
                <table class="table table-hover" id="items">
            
                    <thead>
                        <th class="item-name">Producto</th>
                        <th class="description">Descripción</th>
                        <th class="unit">Valor unit</th>
                        <th class="quantity">Cantidad</th>
                        <th class="units">Subtotal</th>
                        <th class="no_print"></th>
                    </thead>
                
                    <tbody>
                        <tr class="item-row">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row container-button-newproduct"> 
            <div class="col-md-12">
                <%= link_to '<i class="fa fa-plus-circle"></i> Agregar Producto'.html_safe, add_product_path, :remote => true, 'data-toggle' =>  "modal", 'data-target' => 'add_products', class: 'btn-new-product'%>
                <%= f.submit 'Crear Factura', class: 'btn-new-product'%>
            </div>  
        </div>
        <div id="add-products" style="display:none;"></div>
    <% end %>
</div>  