<div id="background-carousel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="col-xs-12">
            <div class="row">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%= image_tag("carrousel/wallpaperAEI7.jpg", class: "img-fluid", alt: "First slide") %> 
                    </div>
                     <div class="carousel-item">
                        <%= image_tag("carrousel/1.jpg", class: "img-fluid", alt: "Second slide") %> 
                    </div>
                     <div class="carousel-item">
                        <%= image_tag("carrousel/2.jpg", class: "img-fluid", alt: "Third slide") %> 
                    </div>
                </div>
            </div>    
        </div>  
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div>
        <%= render "catalog/card-products" %> 
        <%= render "footer" %> 
    </div>
</div> 
