<div class="sign-in-container">
  <div class="row">
    <div class="card col-xs-10 col-md-10">
      <div class="sign-in-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h2 class="title-sign-in">Ingresar</h2>
          <div class="input-group">
            <%= f.label :Correo_Electrónico %><br />
            <%= f.email_field :email, class: "input-signup", autofocus: true, autocomplete: "email" %>
          </div>
          <br>
          <div class="input-group">          
            <%= f.label :Contraseña %><br />
            <%= f.password_field :password, class: "input-signup", autocomplete: "current-password" %>
          </div>
          <br>
          <% if devise_mapping.rememberable? %>
            <div class="remember_me">            
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <%= f.label :Recordarme %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Ingresar", class:"btn-signup", type: "button" %>
          </div>
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= button_to "Ingresar con #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class:"btn-signup-facebook", type: "button"%>
                <br/>
              <% end %>
          <% end %>
          <hr>
          <div class="container-return-signup">
            <div class="row">
              <div class="col-xs-7 col-md-7">
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to "No tienes cuenta?, Regístrate", new_registration_path(resource_name) %>
                <% end %>
              </div>
              <div class="col-xs-5 col-md-5">
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Olvidaste tú contraseña?", new_password_path(resource_name) %>
                <% end %>
              </div>  
            </div>  
          </div> 
        <% end %>

     </div>  
    </div>
  </div>  
</div>          
