<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Descripción %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :Precio_de_compra %>
    <%= form.number_field :purchase_price %>
  </div>
  
  <div class="field">
    <%= form.label :Precio_de_venta %>
    <%= form.number_field :sale_price %>
  </div>

  <div class="field">
    <%= form.label :SKU %>
    <%= form.text_field :sku %>
  </div>

  <div class="field">
    <%= form.label :Stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :Estado %>
    <%= form.check_box :state %>
  </div>

  <%= form.label :uploads%>
  <%= form.file_field :uploads, multiple: true%>

  <div class="departments-dropdown">
      <%= form.collection_select(:category_ids, Category.all, :id, :name, { include_blank: "Categoría"},  {class: "btn btn-default dropdown-toggle"}) %>
  </div> 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
