<!DOCTYPE html>
<html>
  <head>
    <title>AEI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'navbar'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <!-- The core Firebase JS SDK is always required and must be listed first 
  <script src="https://www.gstatic.com/firebasejs/5.11.1/firebase-app.js"></script>

  <TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#config-web-app 

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyAfV1XZCOtY1-UgNL7Vjo6Wcyb3uQz3w3g",
      authDomain: "autoelectroindustrial.firebaseapp.com",
      databaseURL: "https://autoelectroindustrial.firebaseio.com",
      projectId: "autoelectroindustrial",
      storageBucket: "autoelectroindustrial.appspot.com",
      messagingSenderId: "505343433216",
      appId: "1:505343433216:web:3b05df3d484d57c7"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>-->
</html>
